@charset "utf-8";
body {text-align: center;}
#backtoindex{
    background-color: #d5edf8;
    text-align: left;
}
.copyright{
	width:640px;
	text-align:right;
	margin:10px auto;

	color:#999999;
}
#loginForm{
    margin: 50px 100px auto 100px;
}
